<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iris App</title>
  </head>
  <body>
    <h1>Iris Species Classification</h1>
    <form method="POST">
      <input
        type="text"
        name="sepal_width"
        placeholder="Enter the sepal width"
      />
      <input
        type="text"
        name="sepal_length"
        placeholder="Enter the sepal length"
      />
      <input
        type="text"
        name="petal_length"
        placeholder="Enter the petal length"
      />
      <input
        type="text"
        name="petal_width"
        placeholder="Enter the petal width"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
