* {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

.predict-container {
  height: 100vh;
  position: relative;
}

.left-container {
  background-color: #f9f9f9;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.left-content {
  width: 80%;
  height: 80%;
}

.right-container {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  align-items: center;
  overflow: hidden;
}

.predict-footer {
  position: absolute;
  bottom: 0;
  background-color: #f9f9f9;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-text {
  font-size: 4rem;
  color: #212a29;
}

#predict-image {
  position: absolute;
  width: 100%;
  top: -25%;
}

#prediction-header {
  font-size: 2rem;
  margin: 20px 0px;
}

#prediction {
  font-size: 4rem;
  font-weight: bold;
}

#confidence {
  font-size: 2rem;
}

#home-button {
  margin: 20px 0px;
  width: 300px;
  font-size: 1.2rem;
  color: #212a29;
  border: 5px solid #f63366;
  background: none;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#home-button:hover {
  background: #f63366;
  color: #f9f9f9;
}
